:host {
  flex-grow: 0;
  padding: 10px;
  border-left: 1px solid;
  width: 37px;
  transition: width 0.5s;
}

:host(.extended) {
  width: 250px;
}

.arrow {
  transition: transform 0.5s;
}

.arrow-right {
  transform: rotate(90deg);
}

.arrow-left {
  transform: rotate(-90deg);
}

